<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<section layout:fragment="contents" class="container d-flex justify-content-center">
    <th:block th:replace="~{fragments/left-side-zone :: article}"></th:block>

    <div class="main-zone d-flex justify-content-center">
        <div class="game-zone">
            <div class="box-history border-1 d-flex flex-column align-items-center">
                <div class="h1">랜덤 박스 개봉 기록</div>
                <table class="table table-borderless table-box-history text-center">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>결과</th>
                        <th>시간</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="height:10px;"></tr>
                    <tr th:each="myBoxHistoryDTO : ${session.myBoxHistoryDTOList}">
                        <td th:text="${myBoxHistoryDTO.count}">12</td>
                        <td th:text="${myBoxHistoryDTO.result}">0</td>
                        <td th:text="${#temporals.format(myBoxHistoryDTO.createdAt, 'YYYY-MM-dd HH:mm')}">YYYY-MM-DD
                            HH:mm:SS
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <a th:if="${session.hasPrevGroup}" th:href="@{/game/box/history(page=${session.prevGroupPage})}">[이전]</a>
                    <span th:each="i : ${#numbers.sequence(session.startPage, session.endPage)}">
                        <a th:href = "@{/game/box/history(page=${i})}" th:text = "${i}" th:classappend="${(i - 1) == session.myBoxHistoryPage.number} ? 'current' : ''"></a>
                    </span>
                    <a th:if="${session.hasNextGroup}" th:href="@{/game/box/history(page=${session.nextGroupPage})}">[다음]</a>
                </div>
            </div>
        </div>

        <div class="game-result-zone">
            <div class="hall border-1">
                <div class="font-larger">전당기록</div>
                <div class="mt-3">
                    <table class="table table-sm table-borderless font-small table-hall">
                        <tr>
                            <td class="column1">1</td>
                            <td class="column2">닉네임1</td>
                            <td class="column3">점수1</td>
                        </tr>
                        <tr>
                            <td class="column1">2</td>
                            <td class="column2">닉네임2</td>
                            <td class="column3">점수2</td>
                        </tr>
                        <tr>
                            <td class="column1">3</td>
                            <td class="column2">닉네임3</td>
                            <td class="column3">점수3</td>
                        </tr>
                        <tr>
                            <td class="column1">4</td>
                            <td class="column2">닉네임4</td>
                            <td class="column3">점수4</td>
                        </tr>
                        <tr>
                            <td class="column1">5</td>
                            <td class="column2">닉네임5</td>
                            <td class="column3">점수5</td>
                        </tr>
                        <tr>
                            <td class="column1">6</td>
                            <td class="column2">닉네임6</td>
                            <td class="column3">점수6</td>
                        </tr>
                        <tr>
                            <td class="column1">7</td>
                            <td class="column2">닉네임7</td>
                            <td class="column3">점수7</td>
                        </tr>
                        <tr>
                            <td class="column1">8</td>
                            <td class="column2">닉네임8</td>
                            <td class="column3">점수8</td>
                        </tr>
                        <tr>
                            <td class="column1">9</td>
                            <td class="column2">닉네임9</td>
                            <td class="column3">점수9</td>
                        </tr>
                        <tr>
                            <td class="column1">10</td>
                            <td class="column2">닉네임10</td>
                            <td class="column3">점수10</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="recent border-1">
                <div class="font-larger">최근결과</div>
                <div class="mt-3">
                    <table class="table table-sm table-borderless font-small table-hall">
                        <tr>
                            <td class="column1">1</td>
                            <td class="column2">홀수</td>
                            <td class="column3">득점인원</td>
                        </tr>
                        <tr>
                            <td class="column1">2</td>
                            <td class="column2">홀수</td>
                            <td class="column3">득점인원</td>
                        </tr>
                        <tr>
                            <td class="column1">3</td>
                            <td class="column2">홀수</td>
                            <td class="column3">득점인원</td>
                        </tr>
                        <tr>
                            <td class="column1">4</td>
                            <td class="column2">홀수</td>
                            <td class="column3">득점인원</td>
                        </tr>
                        <tr>
                            <td class="column1">5</td>
                            <td class="column2">홀수</td>
                            <td class="column3">득점인원</td>
                        </tr>
                        <tr>
                            <td class="column1">6</td>
                            <td class="column2">짝수</td>
                            <td class="column3">득점인원</td>
                        </tr>
                        <tr>
                            <td class="column1">7</td>
                            <td class="column2">짝수</td>
                            <td class="column3">득점인원</td>
                        </tr>
                        <tr>
                            <td class="column1">8</td>
                            <td class="column2">짝수</td>
                            <td class="column3">득점인원</td>
                        </tr>
                        <tr>
                            <td class="column1">9</td>
                            <td class="column2">짝수</td>
                            <td class="column3">득점인원</td>
                        </tr>
                        <tr>
                            <td class="column1">10</td>
                            <td class="column2">짝수</td>
                            <td class="column3">득점인원</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script layout:fragment="script">

</script>
</html>
