<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<section layout:fragment="contents" class="container d-flex justify-content-center">
    <th:block th:replace="~{fragments/left-side-zone :: article}"></th:block>

    <div class="main-zone d-flex justify-content-center">
        <div class="hall-ranking-box mt-5 border-1">
            <div class="hall-ranking-box-header d-flex align-items-center p-3">
                <i class="bi bi-trophy-fill h3 m-0"></i><span class="h3 m-0">명예의 전당</span>
            </div>
            <div class="hall-ranking-box-contents d-flex justify-content-center">
                <div>
                    <nav class="hall-ranking-nav">
                        <ul class="nav">
                            <li class="nav-items"><a class="nav-link font-larger cursor-pointer header-link">일간</a></li>
                            <li class="nav-items"><a class="nav-link font-larger cursor-pointer header-link">주간</a></li>
                            <li class="nav-items"><a class="nav-link font-larger cursor-pointer header-link">월간</a></li>
                        </ul>
                    </nav>
                    <div id="hallRankingBoxContents" class="hall-ranking-box-contents-div border-1 mt-3 d-flex flex-column">
                        <th:block th:fragment="hallRankingBoxContents">
                            <div class="mb-3 text-center"><span>YYYY-MM-DD HH시 MM분</span> ~ <span>YYYY-MM-DD HH시 MM분</span></div>
                            <table class="table table-borderless table-hall-ranking text-center">
                                <thead>
                                <tr>
                                    <th class="column1">순위</th>
                                    <th class="column2">닉네임</th>
                                    <th class="column3">등록 점수</th>
                                    <th class="column4">등록 일자</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="height:10px;"></tr>
                                <tr th:each="hallDTO : ${hallDTOList}" data-name="viewDetail" th:data-ranking-id="${hallDTO.id}" class="cursor-pointer">
                                    <td class="column1" th:text="${hallDTO.ranking}">1</td>
                                    <td class="column2" th:text="${hallDTO.name}">닉네임1</td>
                                    <td class="column3" th:text="${hallDTO.hp}">점수1</td>
                                    <td class="column4" th:text="${#temporals.format(hallDTO.createdAt, 'YYYY-MM-dd HH:mm:SS')}">YYYY-MM-DD HH:mm:SS</td>
                                </tr>
                                </tbody>
                            </table>
                        </th:block>
                        <div class="d-flex justify-content-center" style="margin-top: auto;">
                            <div class="pagination">
                                <a th:if="${hallPageDTO.hasPrevGroup}" th:href="@{/hall/ranking(page=${hallPageDTO.prevGroupPage})}">[이전]</a>
                                <span th:each="i : ${#numbers.sequence(hallPageDTO.startPage, hallPageDTO.endPage)}">
                                <a th:href = "@{/hall/ranking(page=${i})}" th:text = "${i}" th:classappend="${(i - 1) == hallPage.number} ? 'current' : ''"></a>
                                </span>
                                <a th:if="${hallPageDTO.hasNextGroup}" th:href="@{/hall/ranking(page=${hallPageDTO.nextGroupPage})}">[다음]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script layout:fragment="script">
    $("tr[data-name='viewDetail']").on("click", function () {
        let id = $(this).data("ranking-id");

        location.href = "/hall/ranking/detail?id=" + id;
    })

</script>