<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<section layout:fragment="contents" class="container d-flex justify-content-center">
    <th:block th:replace="~{fragments/left-side-zone :: article}"></th:block>

    <div class="main-zone d-flex justify-content-center">
        <div class="hall-register-box mt-5 border-1 d-flex justify-content-center align-items-center">
            <div style="width: 600px;">
                <div class="h1 text-center mb-3">전당 등록</div>
                <div>
                    <div class="mb-3">등록 닉네임</div>
                    <textarea id="contentsInput" class="form-control input-shadow mb-3 p-3" style="resize: none;" placeholder="전당 등록 멘트 입력"
                              autocomplete="off"></textarea>
                    <div class="d-flex align-items-center">
                        <div class="mr-3">
                            <label for="hallImageFileInput"><i class="bi bi-image cursor-pointer h1"></i></label>
                            <input id="hallImageFileInput" type="file" class="d-none">
                        </div>
                        <div><span id="hallInputFileName"></span></div>
                        <div class="ml-auto">
                            <button id="hallRegisterBtn" type="button" class="btn btn-primary btn-shadow">등록</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script layout:fragment="script">
    $("#hallImageFileInput").on("change", function () {
        let fileName = $("#hallImageFileInput").val();
        $("#hallInputFileName").text(fileName);
    })

    $("#hallRegisterBtn").on("click", function() {
        let contents = $("#contentsInput").val();
        let imageFile = $("#hallImageFileInput")[0].files[0];

        if(contents === "") {
            alert("내용 입력");
            return;
        }

        let formData = new FormData();
        formData.append("contents", contents);
        formData.append("imageFile", imageFile);

        $.ajax({
            type: "POST",
            url: "/hall/create",
            data: formData,
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
            success: function(response) {
                if(response.data !== 0) {
                    alert("전당 등록 완료");
                    location.href = "/hall/ranking/detail?id=" + response.data;
                } else {
                    alert("error : upload fail");
                }
            },
            error : function() {
                alert("error : upload error");
            }
        })
    })

</script>