<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<section layout:fragment="contents" class="container d-flex justify-content-center">
    <div class="find-box border-1">
        <div class="login-box-header d-flex align-items-center p-3">
            <i class="bi bi-file-earmark-person h3 m-0"></i><span class="h3 m-0">회원 정보 찾기</span>
        </div>
        <div class="login-box-contents d-flex justify-content-center">
            <div class="w-100">
                <table class="table table-borderless table-find">
                    <tbody>
                    <tr>
                        <td class="column1 pb-0 text-right align-middle">아이디</td>
                        <td class="column2 pb-0"><input id="loginIdInput" type="text" class="form-control input-shadow" autocomplete="off"></td>
                        <td class="column3 pb-0"></td>
                    </tr>
                    <tr class="comment-row">
                        <td class="column1"></td>
                        <td class="column2 py-0"><span
                                class="align-top text-black-50">영어 소문자, 숫자만 입력 가능. 최소 4자 이상 입력하세요.</span>
                        </td>
                        <td class="column3"></td>
                    </tr>
                    <tr>
                        <td class="column1 pb-0 text-right align-middle">E-mail</td>
                        <td class="column2 pb-0"><input id="emailInput" type="text" class="form-control input-shadow" autocomplete="off"></td>
                        <td class="column3 pb-0"></td>
                    </tr>
                    <tr class="comment-row">
                        <td class="column1"></td>
                        <td class="column2 py-0"><span class="align-top text-danger">네이버 메일주소(@naver.com)</span>만 허용합니다.
                            <br>
                        </td>
                        <td class="column3"></td>
                    </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-center">
                    <button id="findBtn" type="button" class="btn btn-danger btn-shadow mx-3">정보찾기</button>
                    <button id="cancelBtn" type="button" class="btn btn-secondary btn-shadow mx-3">취소</button>
                </div>
            </div>
        </div>
    </div>

</section>

<script layout:fragment="script">
    $("#findBtn").on("click", function() {
        let loginId = $("#loginIdInput").val();
        let email = $("#emailInput").val();

        const regEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@(naver.com)$/;

        // validation
        if(loginId === "") {
            alert("아이디 입력");
            return;
        }

        if (email === "") {
            alert("이메일 입력");
            return;
        }
        //
        // if (!regEmail.test(email)) {
        //     alert("네이버 메일만 가능");
        //     return;
        // }

        $.ajax({
            type: "POST",
            url: "/user/find-register",
            data: {
                "loginId": loginId,
                "email": email
            },
            success: function(response) {
                if(response.data) {
                    alert("임시 비밀번호 메일로 송신됨. 재로그인");
                    location.href = "/frontpage";
                } else {
                    alert("error : find fail");
                }
            },
            error: function() {
                alert("error : find error");
            }
        })
    })

</script>