<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<section layout:fragment="contents" class="container d-flex justify-content-center">
    <div class="mypage-box mt-5 border-1">
        <div class="mypage-box-header d-flex align-items-center p-3">
            <i class="bi bi-file-earmark-person h3 m-0"></i><span class="h3 m-0">마이 전당 기록</span>
        </div>
        <div class="mypage-box-contents py-5 d-flex justify-content-center">
            <table class="table table-borderless table-myhall text-center">
                <thead>
                <tr>
                    <td>닉네임</td>
                    <td>등록 포인트</td>
                    <td>등록 일자</td>
                </tr>
                </thead>
                <tbody>
                <tr style="height:10px;"></tr>
                <tr>
                    <td>닉네임1</td>
                    <td>포인트1</td>
                    <td>YYYY-MM-DD HH:mm:SS</td>
                </tr>
                <tr>
                    <td>닉네임2</td>
                    <td>포인트2</td>
                    <td>YYYY-MM-DD HH:mm:SS</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>

<script layout:fragment="script">


</script>