<article class="left-side-zone border-1 p-3 d-flex flex-column">
    <th:block th:if="${session.userDTO == null}">
        <div class="login border-1 p-3">
            <form id="loginForm">
                <div class="my-3">로그인</div>
                <input id="loginIdInput" type="text" class="form-control my-4" placeholder="아이디" autocomplete="off">
                <input id="passwordInput" type="password" class="form-control my-4" placeholder="비밀번호"
                       autocomplete="off">
                <div class="my-3 d-flex align-items-center">
                    <span><a href="/user/register" class="login-href ml-3">회원가입</a></span>
                    <span><a href="/user/find" class="login-href ml-3">정보찾기</a></span>
                    <button id="loginBtn" type="submit" class="btn btn-primary ml-auto">로그인</button>
                </div>
            </form>
        </div>
    </th:block>
    <th:block th:if="${session.userDTO != null}">
        <div class="user-info border-1 p-3">
            <div class="row mb-3 mt-2 col-12" th:text="${session.userDTO.getLoginId()}">로그인 아이디 1</div>
            <div class="row ml-1 my-3 col-12" th:text="${session.userDTO.getMainName()}" >현재 캐릭터 명</div>
            <div class="row ml-1 my-3"><span class="col-7">현재 포인트</span> <span id="currentPoint" th:text="${session.userDTO.getPoint()}"> 10,000</span></div>
            <div class="row ml-1 my-3"><span class="col-7"><a href="#" class="user-info-href">출석체크</a></span><span><a
                    href="/hall/register" class="user-info-href">전당등록</a></span></div>
            <div class="row ml-1 my-3"><span class="col-12"><a href="/user/change"
                                                               class="user-info-href">캐릭터전환</a></span></div>
            <div class="row ml-1 my-3"><span class="col-7"><a href="/user/mypage"
                                                              class="user-info-href">마이페이지</a></span><span><a
                    href="/user/logout" class="user-info-href-red">로그아웃</a></span></div>
        </div>
    </th:block>
    <!--            th:text 구문 이용해서 가능할까?-->
    <div class="concurrent text-center">현재 동시 접속자 : ***</div>

    <div class="simple-hall border-1 mt-auto p-3">
        <div class="d-flex justify-content-between align-items-end">
            <span><a href="/hall/ranking/daily?page=1" class="font-larger header-link cursor-pointer">전당</a></span>
            <span><a href="/hall/ranking/daily?page=1" class="font-small header-link">자세히</a></span>

        </div>

        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link cursor-pointer hall-reload" data-period="daily">일간</a></li>
                <li class="nav-item"><a class="nav-link cursor-pointer hall-reload" data-period="weekly">주간</a></li>
                <li class="nav-item"><a class="nav-link cursor-pointer hall-reload" data-period="monthly">월간</a></li>
            </ul>
        </nav>
        <div class="simple-hall-inbox border-1">
            <div id="hall">
                <div th:fragment="hall">
                    <div class="font-small">
                        <span>기간 : </span><span th:text="${#temporals.format(range[0],'YYYY-MM-dd HH시 mm분')}">YYYY-MM-DD HH시 MM분</span> <br>
                        <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ~ </span><span th:text="${#temporals.format(range[1], 'YYYY-MM-dd HH시 mm분')}">YYYY-MM-DD HH시 MM분</span>
                    </div>
                    <hr style="margin: 10px 0;">
                    <div>
                        <table class="table table-sm table-borderless font-small table-hall mb-0">
                            <thead>
                                <tr>
                                    <th class="column1">순위</th>
                                    <th class="column2">닉네임</th>
                                    <th class="column3">코멘트</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="leftHallDTO : ${leftHallDTOList}">
                                    <td class="column1" th:text="${leftHallDTO.ranking}">1</td>
                                    <td class="column2" th:text="${leftHallDTO.name}">닉네임1</td>
                                    <td class="column3" th:text="${leftHallDTO.contents}">코멘트1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<script>

    $("#loginForm").on("submit", function (e) {
        // form 태그 원래의 기능을 제거
        e.preventDefault();

        let loginId = $("#loginIdInput").val();
        let password = $("#passwordInput").val();

        // validation
        if (loginId === "") {
            alert("아이디 입력");
            return;
        }

        if (password === "") {
            alert("패스워드 입력");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/user/login",
            data: {
                "loginId": loginId,
                "password": password
            },
            success: function(response) {
                if(response.result === "success") {
                    alert("로그인 성공");
                    location.reload();
                } else {
                    alert(response.code + ": " + response.message);
                }
            }, error: function() {
                alert("error : login error");
            }
        })
    })

    $(".hall-reload").on("click", function() {
        let period = $(this).data("period")

        if(period === "daily") {
            $("#hall").load("/hall/left/daily");

        } else if (period === "weekly") {
            $("#hall").load("/hall/left/weekly");

        } else if (period === "monthly") {
            $("#hall").load("/hall/left/monthly");

        }
    })

</script>