<article class="left-side-zone border-1 p-3 d-flex flex-column">
    <th:block th:if="${session.userDTO == null}">
        <div class="login border-1 p-3">
            <form id="loginForm">
                <div class="my-3">로그인</div>
                <input id="loginIdInput" type="text" class="form-control my-4" placeholder="아이디" autocomplete="off">
                <input id="passwordInput" type="password" class="form-control my-4" placeholder="비밀번호"
                       autocomplete="off">
                <div class="my-3 d-flex align-items-center">
                    <span><a href="/user/register" class="login-href ml-3">회원가입</a></span>
                    <span><a href="/user/find" class="login-href ml-3">정보찾기</a></span>
                    <button id="loginBtn" type="submit" class="btn btn-primary ml-auto">로그인</button>
                </div>
            </form>
        </div>
    </th:block>
    <th:block th:if="${session.userDTO != null}">
        <div class="user-info border-1 p-3">
            <div class="row mb-3 mt-2 col-12">로그인 아이디 1</div>
            <div class="row ml-1 my-3 col-12">현재 캐릭터 명</div>
            <div class="row ml-1 my-3"><span class="col-7">현재 포인트</span> <span th:text="${session.userDTO.getPoint()}"> 10,000</span></div>
            <div class="row ml-1 my-3"><span class="col-7"><a href="#" class="user-info-href">출석체크</a></span><span><a
                    href="/hall/register" class="user-info-href">전당등록</a></span></div>
            <div class="row ml-1 my-3"><span class="col-12"><a href="/user/change"
                                                               class="user-info-href">캐릭터전환</a></span></div>
            <div class="row ml-1 my-3"><span class="col-7"><a href="/user/mypage"
                                                              class="user-info-href">마이페이지</a></span><span><a
                    href="/user/logout" class="user-info-href-red">로그아웃</a></span></div>
        </div>
    </th:block>
    <!--            th:text 구문 이용해서 가능할까?-->
    <div class="concurrent text-center">현재 동시 접속자 : ***</div>

    <div class="simple-hall border-1 mt-auto p-3">
        <div class="d-flex justify-content-between align-items-end">
            <span><a href="/hall/ranking" class="font-larger header-link cursor-pointer">전당</a></span>
            <span><a href="/hall/ranking" class="font-small header-link">자세히</a></span>

        </div>

        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link cursor-pointer">일간</a></li>
                <li class="nav-item"><a class="nav-link cursor-pointer">주간</a></li>
                <li class="nav-item"><a class="nav-link cursor-pointer">월간</a></li>
            </ul>
        </nav>
        <div class="p-3 border-1">
            <div class="font-small">
                <span>기간 : YYYY-MM-DD HH시 MM분</span> <br>
                <span>&emsp;&emsp;&emsp;&emsp;&emsp; ~ YYYY-MM-DD HH시 MM분</span>
            </div>
            <hr>
            <div>
                <table class="table table-sm table-borderless font-small table-hall mb-0">
                    <!-- th:each 구문 이용해서 반복문 구현하기-->
                    <!-- 넘치는 구문 처리하는 class 처리 해야함  -->
                    <tr>
                        <td class="column1">1</td>
                        <td class="column2">닉네임1</td>
                        <td class="column3">코멘트1</td>
                    </tr>
                    <tr>
                        <td class="column1">2</td>
                        <td class="column2">닉네임2</td>
                        <td class="column3">코멘트2</td>
                    </tr>
                    <tr>
                        <td class="column1">3</td>
                        <td class="column2">닉네임3</td>
                        <td class="column3">코멘트3</td>
                    </tr>
                    <tr>
                        <td class="column1">4</td>
                        <td class="column2">닉네임4</td>
                        <td class="column3">코멘트4</td>
                    </tr>
                    <tr>
                        <td class="column1">5</td>
                        <td class="column2">닉네임5</td>
                        <td class="column3">코멘트5</td>
                    </tr>
                    <tr>
                        <td class="column1">6</td>
                        <td class="column2">닉네임6</td>
                        <td class="column3">코멘트6</td>
                    </tr>
                    <tr>
                        <td class="column1">7</td>
                        <td class="column2">닉네임7</td>
                        <td class="column3">코멘트7</td>
                    </tr>
                    <tr>
                        <td class="column1">8</td>
                        <td class="column2">닉네임8</td>
                        <td class="column3">코멘트8</td>
                    </tr>
                    <tr>
                        <td class="column1">9</td>
                        <td class="column2">닉네임9</td>
                        <td class="column3">코멘트9</td>
                    </tr>
                    <tr>
                        <td class="column1">10</td>
                        <td class="column2">닉네임10</td>
                        <td class="column3">코멘트10</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</article>

<script>

</script>