<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<section layout:fragment="contents" class="container d-flex justify-content-center">
    <th:block th:replace="~{fragments/left-side-zone :: article}"></th:block>

    <article class="main-zone d-flex justify-content-center">
        <div class="col-8 mt-5 d-flex flex-column">
            <a href="/frontpage/information" class="header-link"><div id="siteInfoBanner" class="main-banner site-info-banner cursor-pointer">사이트 소개</div></a>
            <a href="/game/dice" class="header-link"><div class="main-banner play-banner cursor-pointer">즐길거리 1 : 주사위 홀짝</div></a>
            <a href="/game/box" class="header-link"><div class="main-banner play-banner cursor-pointer">즐길거리 2 : 랜덤 박스</div></a>
            <a href="/game/lotto" class="header-link"><div class="main-banner play-banner cursor-pointer">즐길거리 3 : 로또 6/45</div></a>
        </div>
    </article>
</section>

<script layout:fragment="script">

</script>
</html>
