<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<section layout:fragment="contents" class="container d-flex justify-content-center">
    <th:block th:replace="~{fragments/left-side-zone :: article}"></th:block>

    <article class="main-zone d-flex justify-content-center">
        <div class="col-8 mt-5 d-flex flex-column">
            <div class="main-banner site-info-banner cursor-pointer mb-5">사이트 소개</div>
            <div class="site-info-box p-5 text-center border-1"> 대충 건전한 즐길거리 게임 문화 조성 목적 과 각 게임별 상세 규칙을 설명하는 division. 도박 중독 상담은 1336.
                대충 건전한 즐길거리 게임 문화 조성 목적 과 각 게임별 상세 규칙을 설명하는 division. 도박 중독 상담은 1336. 대충 건전한 즐길거리 게임 문화 조성 목적 과 각 게임별 상세
                규칙을 설명하는 division. 도박 중독 상담은 1336. 대충 건전한 즐길거리 게임 문화 조성 목적 과 각 게임별 상세 규칙을 설명하는 division. 도박 중독 상담은 1336.
                대충 건전한 즐길거리 게임 문화 조성 목적 과 각 게임별 상세 규칙을 설명하는 division. 도박 중독 상담은 1336. 대충 건전한 즐길거리 게임 문화 조성 목적 과 각 게임별 상세
                규칙을 설명하는 division. 도박 중독 상담은 1336. 대충 건전한 즐길거리 게임 문화 조성 목적 과 각 게임별 상세 규칙을 설명하는 division. 도박 중독 상담은 1336.
                대충 건전한 즐길거리 게임 문화 조성 목적 과 각 게임별 상세 규칙을 설명하는 division. 도박 중독 상담은 1336. 대충 건전한 즐길거리 게임 문화 조성 목적 과 각 게임별 상세
                규칙을 설명하는 division. 도박 중독 상담은 1336.
            </div>
        </div>
    </article>
</section>
<script>

</script>
</html>
