#wrap {
}

header {
    height: 80px;
    background-color: #E4E4E4;
}

.container {
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
}

.main-title,
.main-title:hover {
    color: darkblue;
    text-decoration: none;
}

.header-link,
.header-link:hover {
    color: black;
    text-decoration: none;
}

/* left-sied-zone style */
.left-side-zone {
    width: 25%;
    height: 900px;
}

.left-side-zone > .login,
.left-side-zone > .user-info {
    height: 280px;
}

.login-href,
.login-href:hover {
    color: #1A00FF;
    text-decoration: underline;
}

.user-info-href,
.user-info-href:hover {
    color: #1A00FF;
    text-decoration: none;
}

.user-info-href-red,
.user-info-href-red:hover {
    color: #FF0000;
    text-decoration: none;
}

.simple-hall-title {
    font-size: larger;
}

.table-hall > tbody > tr {
    height: 27px;
}

.table-hall > tbody > tr > .column1 {
    width: 30px;
    text-align: end;
}

.table-hall > tbody > tr > .column2 {
    width: 100px;
    padding-left: 10px;
}

.table-hall > tbody > tr > .column3 {
    width: 128px;
}

/* frontpage style */
.main-zone {
    width: 75%;
    height: 900px;
}

.main-banner {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-info-banner {
    margin-bottom: 100px;
    background-color: #FAF0DE;
}

.play-banner {
    margin-bottom: 50px;
    background-color: #FFDAE2;
}

.site-info-box {
    height: 652px;
}

/* loginpage style */
.login-box {
    width: 62.5%
}

.login-box-header {
    height: 75px;
    background-color: #D9D9D9;
    border-bottom: 1px solid black;
}

.table-login > tbody > .comment-row {
    height: 40px;
}

.table-login > tbody > tr > .column1 {
    width: 20%;
}

.table-login > tbody > tr > .column2 {
    width: 60%;
}

.table-login > tbody > tr > .column3 {
    width: 20%;
}

.input-shadow {
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
}

.btn-shadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* gamepage style */
.game-zone {
    width: 67%;
    padding: 40px 40px 0;
}

.game-zone > .dice,
.game-zone > .box,
.game-zone > .lotto {
    height: 600px;
    margin-bottom: 60px;
    padding: 40px;
}

.game-zone > .dice-betting,
.game-zone > .box-betting,
.game-zone > .lotto-betting {
    height: 200px;
    padding: 20px;
}

.game-result-zone {
    width: 33%;
    padding: 40px 0 0 0;
}

.game-result-zone > .hall {
    height: 400px;
    margin-bottom: 60px;
    padding: 35px 20px 20px;
}

.game-result-zone > .recent {
    height: 400px;
    padding: 35px 20px 20px;
}

/* dice */
.dice > .dice-game {
    width: 400px;
    height: 300px;
    background-color: #D9D9D9;
}

.dice-betting > div {
    width: 400px;
}

.dice-betting > div > .btn-even-odd {
    width: 120px;
}

/* box */
.table-box-buying > tbody > .box-image-row {
    width: 450px;
    height: 120px;
}

.table-box-buying > tbody > .box-btn-row {
    width: 450px;
    height: 40px;
    text-align: center;
}

.btn-box-buying {
    width: 120px;
}

.table-box-betting {
    width: 400px;
}

.table-box-betting > tbody > tr > .column1 {
    width: 200px;
}

.table-box-betting > tbody > tr > .column2 {
    width: 100px;
}

.table-box-betting > tbody > tr > .column3 {
    width: 100px;
}

/* lotto */
.lotto > .lotto-game {
    width: 400px;
    height: 300px;
    background-color: #D9D9D9;
}

.table-lotto-betting {
    width: 480px;
}

.table-lotto-betting > tbody > tr > td {
    width: 60px
}

.temp-image {
    width: 120px;
    height: 120px;
    background-color: #D9D9D9;
    margin: 0 auto;
}


/* common style */
.border-1 {
    border: 1px solid black;
}

.font-small {
    font-size: small;
}

.font-larger {
    font-size: larger;
}

.cursor-pointer {
    cursor: pointer;
}

/* footer style*/
footer {
    height: 50px;
}