#wrap {
    min-width: 1440px;
}

header {
    height: 80px;
    background-color: #E4E4E4;
}

.container {
    width: 1440px;
    max-width: 1440px;
    min-width: 1440px;
    padding-left: 0;
    padding-right: 0;
}

.main-title,
.main-title:hover {
    color: darkblue;
    text-decoration: none;
}

.header-link,
.header-link:hover {
    color: black;
    text-decoration: none;
}

/* left-sied-zone style */
.left-side-zone {
    width: 360px;
    height: 900px;
}

.left-side-zone > .login,
.left-side-zone > .user-info {
    height: 280px;
}

.login-href,
.login-href:hover {
    color: #1A00FF;
    text-decoration: underline;
}

.user-info-href,
.user-info-href:hover {
    color: #1A00FF;
    text-decoration: none;
}

.user-info-href-red,
.user-info-href-red:hover {
    color: #FF0000;
    text-decoration: none;
}

.simple-hall {
    height: 500px;
}

.simple-hall-inbox {
    height: 400px;
    padding: 10px;
}

.table-hall {
    width: 258px;
    table-layout: fixed;
}

.table-hall > thead > tr > .column1,
.table-hall > tbody > tr > .column1 {
    width: 40px;
    text-align: center;
}

.table-hall > thead > tr > .column2,
.table-hall > tbody > tr > .column2 {
    width: 90px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-hall > thead > tr > .column3,
.table-hall > tbody > tr > .column3 {
    width: 128px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* frontpage style */
.main-zone {
    width: 1080px;
    height: 900px;
}

.main-banner {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-info-banner {
    margin-bottom: 100px;
    background-color: #FAF0DE;
}

.play-banner {
    margin-bottom: 50px;
    background-color: #FFDAE2;
}

.site-info-box {
    height: 652px;
}

/* loginpage style */
/* mypage style*/
.login-box,
.mypage-box {
    width: 900px;
    height: 800px;
}

.find-box {
    height: 430px;
    margin-top: 80px;
}

.login-box-header,
.mypage-box-header {
    height: 75px;
    background-color: #D9D9D9;
    border-bottom: 1px solid black;
}

.login-box-contents {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 355px;
}

.mypage-box-contents {
    padding-top : 40px;
    padding-bottom: 40px;
    height: 725px;
}

.table-login,
.table-find,
.table-mypage1 {
    width: 900px;
}


.table-login > tbody > .comment-row,
.table-find > tbody > .comment-row,
.table-mypage1 > tbody > .comment-row {
    height: 40px;
}

.table-login > tbody > tr > .column1,
.table-find > tbody > tr > .column1,
.table-mypage1 > tbody > tr > .column1 {
    width: 20%;
}

.table-login > tbody > tr > .column2,
.table-find > tbody > tr > .column2,
.table-mypage1 > tbody > tr > .column2 {
    width: 60%;
}

.table-login > tbody > tr > .column3 {
    width: 20%;
}

.table-find > tbody > tr > .column3,
.table-mypage1 > tbody > tr > .column3 {
    width: 10%;
}

.table-mypage2 {
    width: 600px;
}

.table-mypage2 > tbody > tr {
    height: 100px;
}

.table-mypage2 > tbody > tr > td {
    width: 300px;
}

.table-myname {
    width: 700px;
}

.table-myname > thead {
    border-bottom: 1px solid black;
    border-spacing: 1px;
}

.table-myname > thead > tr > .column1 {
    width: 300px;
}

.table-myname > thead > tr > .column2 {
    width: 200px;
}

.table-myname > thead > tr > .column3 {
    width: 200px;
}

.table-myhall {
    width: 700px;
}

.entrance-table {
    height: 580px;
}

/* gamepage style */
.game-zone {
    width: 67%;
    padding: 40px 40px 0;
}

.game-zone > .dice,
.game-zone > .box,
.game-zone > .lotto {
    height: 600px;
    margin-bottom: 60px;
    padding: 40px;
}

.game-zone > .box-history {
    height: 860px;
    margin-bottom: 60px;
    padding: 40px;
}

.game-zone > .dice-betting,
.game-zone > .box-betting,
.game-zone > .lotto-betting {
    height: 200px;
    padding: 20px;
}

.game-result-zone {
    width: 33%;
    padding: 40px 0 0 0;
}

.game-result-zone > .hall {
    height: 400px;
    margin-bottom: 60px;
    padding: 20px;
}

.game-result-zone > .recent {
    height: 400px;
    padding: 20px;
}

/* dice */
.dice > .dice-game {
    width: 400px;
    height: 300px;
    background-color: #D9D9D9;
}

.dice-betting > div {
    width: 400px;
}

.dice-betting > div > .btn-even-odd {
    width: 120px;
}

.table-dice-info {
    width: 300px;
    height: 120px;
}

.table-dice-hall,
.table-box-hall,
.table-dice-recent,
.table-lotto-hall {
    width: 300px;
}

.table-dice-hall > tbody > tr > .column1,
.table-dice-recent > tbody > tr > .column1,
.table-box-hall > tbody > tr > .column1,
.table-lotto-hall > tbody > tr > .column1 {
    width: 80px;
}

.table-dice-hall > tbody > tr > .column2,
.table-dice-recent > tbody > tr > .column2,
.table-box-hall > tbody > tr > .column2,
.table-lotto-hall > tbody > tr > .column2 {
    width: 100px;
}

.table-dice-hall > tbody > tr > .column3,
.table-dice-recent > tbody > tr > .column3,
.table-box-hall > tbody > tr > .column3,
.table-lotto-hall > tbody > tr > .column3 {
    width: 120px;
}

/* box */
.table-box-buying > tbody > .box-image-row {
    width: 450px;
    height: 120px;
}

.table-box-buying > tbody > .box-btn-row {
    width: 450px;
    height: 40px;
    text-align: center;
}

.btn-box-buying {
    width: 120px;
}

.table-box-info {
    width: 300px;
    height: 60px;
}

.table-box-betting {
    width: 400px;
}

.table-box-betting > tbody > tr > .column1 {
    width: 200px;
}

.table-box-betting > tbody > tr > .column2 {
    width: 100px;
}

.table-box-betting > tbody > tr > .column3 {
    width: 100px;
}

.table-box-recent,
.table-lotto-recent {
    width: 300px;
}

.table-box-recent > tbody > tr > .column1,
.table-box-recent > tbody > tr > .column2,
.table-lotto-recent > tbody > tr > .column1,
.table-lotto-recent > tbody > tr > .column2 {
    width: 150px;
}

/* box-history */
.table-box-history {
    width: 500px;
    margin-top: 20px;
}

.table-box-history > thead {
    border-bottom: 1px solid black;
    border-spacing: 1px;
}

.table-box-history > thead > tr > .column1,
.table-box-history > tbody > tr > .column1 {
    width: 50px;
}

.table-box-history > thead > tr > .column2,
.table-box-history > tbody > tr > .column2 {
    width: 200px;
}

.table-box-history > thead > tr > .column3,
.table-box-history > tbody > tr > .column3 {
    width: 250px;
}

/* lotto */

.table-lotto-game {
    width: 350px;
    height: 350px;
    margin-top: 15px;
}

.table-lotto-game > tbody > tr > td {
    padding: 5px;
    width: 50px;
    height: 50px;
}

.table-lotto-game > tbody > tr > td > .lotto-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-lotto-game > tbody > tr > td > .not-selected {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.table-lotto-game > tbody > tr > td > .selected {
    background-color: black;
    color: white;
}

.table-lotto-history {
    width: 480px;
}

.table-lotto-history > tbody > tr > td {
    width: 60px;
    white-space: nowrap;
}

.table-lotto-history > tbody > tr > .history {
    width: 60px;
    white-space: nowrap;
    text-align: start;
}

/* hall */
.hall-register-box {
    width: 750px;
    height: 600px;
}

.hall-ranking-box {
    width: 900px;

}

.hall-ranking-box-header {
    height: 75px;
    background-color: #D9D9D9;
    border-bottom: 1px solid black;
}

.hall-ranking-box-contents {
    padding-top: 20px;
}

.hall-ranking-box-contents-div {
    height: 670px;
    padding: 20px 40px 20px;
}

.hall-ranking-nav {
    width: 850px;
}

.hall-ranking-nav > ul > li {
    width: 100px;
    display: flex;
    justify-content: center
}

.table-hall-ranking {
    width: 770px;
}

.table-hall-ranking > thead,
.table-myhall > thead {
    border-bottom: 1px solid black;
    border-spacing: 1px;
}

.table-hall-ranking > thead > tr > .column1,
.table-hall-ranking > tbody > tr > .column1 {
    width: 70px;
}

.table-hall-ranking > thead > tr > .column2,
.table-hall-ranking > tbody > tr > .column2 {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-hall-ranking > thead > tr > .column3,
.table-hall-ranking > tbody > tr > .column3 {
    width: 150px;
}

.table-hall-ranking > thead > tr > .column4,
.table-hall-ranking > tbody > tr > .column4 {
    width: 250px;
}

.hall-detail-box {
    width: 1000px;
    height: 500px;
}

.hall-comment {
    width: 600px;
    height: 300px;
    white-space: pre-line;
    word-break: break-all;
    overflow-y: scroll;
}

.hall-register-box > div > div > .form-control {
    width: 600px;
    height: 300px;
}

.temp-image {
    width: 120px;
    height: 120px;
    background-color: #D9D9D9;
    margin: 0 auto;
}

.hall-detail-image-area {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}


/* common style */
.border-1 {
    border: 1px solid black;
}

.input-shadow {
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
}

.btn-shadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.font-small {
    font-size: small;
}

.font-larger {
    font-size: larger;
}

.cursor-pointer {
    cursor: pointer;
}

.pagination {
    margin-top: auto;
}

.pagination > a,
.pagination > span > a {
    margin: 0 5px;
    text-decoration: none;
}

.pagination > span > .current {
    font-weight: bold;
    text-decoration: underline;
}

.img-100 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* footer style*/
footer {
    height: 50px;
}