#wrap {

}

header {
    height: 80px;
    background-color: #E4E4E4;
}

.main-title,
.main-title:hover {
    color: darkblue;
    text-decoration: none;
}

.header-link,
.header-link:hover {
    color: black;
    text-decoration: none;
}

.left-side-zone > .login,
.left-side-zone > .user-info {
    height: 260px;
}

.login-href,
.login-href:hover {
    color: #1A00FF;
    text-decoration: underline;
}

.user-info-href,
.user-info-href:hover {
    color: #1A00FF;
    text-decoration: none;
}

.user-info-href-red,
.user-info-href-red:hover {
    color: #FF0000;
    text-decoration:none;
}

.simple-hall-title {
    font-size: larger;
}

.main-banner {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-info-banner {
    margin-bottom: 100px;
    background-color: #FAF0DE;
}

.play-banner {
    margin-bottom: 50px;
    background-color: #FFDAE2;
}

.site-info-box {
    height: 652px;
}

.border-1 {
    border: 1px solid black;
}

.font-small {
    font-size: small;
}

.cursor-pointer {
    cursor: pointer;
}